

body {
    padding: 0;
    margin: 0;
    background-color: #473b7b;
}
#start-bg img {
    width: 100%;
    height: 100%;
    margin: 50px auto;

}

.levels {
    display: flex;
    justify-content: space-between;
}

.levels .btn {
    width:100%;
}